@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .w-sm-25 {
    width: 25% !important;
  }
  .w-sm-40 {
    width: 40% !important;
  }
  .w-sm-50 {
    width: 50% !important;
  }
  .w-sm-75 {
    width: 75% !important;
  }
  .w-sm-100 {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .w-md-25 {
    width: 25% !important;
  }
  .w-md-40 {
    width: 40% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-100 {
    width: 100% !important;
  }
  .h-bg-image {
    height: 100vh;
  }
  .number-size {
    font-size: 2.4rem;
  }
  .leaf-right {
    transition: all ease-in-out;
    position: absolute;
    transform: translateY(-50%);
    right: 0;
    top: 100%;
    width: 18%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-40 {
    width: 40% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-100 {
    width: 100% !important;
  }
  .w-lg-25 {
    width: 25% !important;
  }
  .slider-info-position {
    left: 3%;
    top: 68%;
  }
  .swiper-slide a {
    background-color: #f7ebde2d;
    position: absolute;
    top: 72%;
    right: 32%;
    font-size: 16px;
    padding: 16px 40px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .w-xl-50 {
    width: 50% !important;
  }
  .w-xl-40 {
    width: 40% !important;
  }
  .w-xl-75 {
    width: 75% !important;
  }
  .w-xl-100 {
    width: 100% !important;
  }
  .w-xl-25 {
    width: 25% !important;
  }
  .w-input {
    width: 300px;
  }
  .footer-logo {
    height: 90px;
  }
  .bg-brown {
    background-color: #563d25;
    width: 360px;
    height: 160px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
  .w-xxl-25 {
    width: 25% !important;
  }
  .w-xxl-40 {
    width: 40% !important;
  }
  .w-xxl-50 {
    width: 50% !important;
  }
  .w-xxl-75 {
    width: 75% !important;
  }
  .w-xxl-100 {
    width: 100% !important;
  }
  .w-input {
    width: 360px;
  }
  .logo {
    height: 100px;
  }
  .footer-logo {
    height: 100px;
  }
  .bg-img-width {
    width: 100%;
  }
  .bg-brown {
    background-color: #563d25;
    width: 400px;
    height: 180px;
  }

  .swiper-slide h1 {
    font-size: 46px;
    font-weight: 900;
  }
  .swiper-slide p {
    font-size: 40px;
    font-weight: 200;
  }
  .h-bg-image {
    height: 100vh;
    height: 100%;
  }
}
