/* reset all  */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

textarea:focus,
input:focus {
  outline: none;
}
input {
  border: none;
}

a:hover {
  color: inherit;
}

/* added utils to support bootsrap  */

.h-screen {
  height: 100vh;
}

.container {
  width: 90%;
}

.z-1 {
  z-index: 10;
}
.z-10 {
  z-index: 99;
}
.z-0 {
  z-index: 0;
}

.text-lg {
  font-size: clamp(1.6rem, 10vw, 2.4rem);
}

.font-bold {
  font-weight: 800;
}

.w-20 {
  width: 250px;
}
.w-30 {
  width: 350px;
}

.text-orange-700 {
  color: #c3660a;
}

.text-orange-700-opacity {
  color: #c3670a8c;
}

::placeholder {
  color: #c3660a;
}

.text-orange-100 {
  color: #f8d7b3;
}

.bg-orange {
  background-color: #c3660a;
}

/* modifying the bootsrap tools or adding above it */

.carousel-caption {
  left: 2%;
  right: 1%;
  text-align: left;
}

.carousel-indicators {
  justify-content: left;
  margin-left: 2%;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 1;
}

.carousel-indicators button.active {
  background-color: #fff;
}

.carousel-caption h1 {
  font-size: 30px;
  font-weight: 900;
}

.carousel-caption p {
  font-size: 20;
  font-weight: 100;
}
.carousel-caption a {
  background-color: #f7ebde2d;
  position: absolute;
  top: 92%;
  right: 6%;
  font-size: clamp(0.4rem, 7vw, 0.8rem);
}

.bg-primary {
  background-color: #f7ebde !important;
}
.bg-primary-opacity {
  background-color: hsla(0, 0%, 100%, 0.137) !important;
}

.bg-primary:hover {
  /* border: 1px solid #C3660A; */
  background-color: #c3670a5d !important;
}

.logo {
  height: 65px;
}
.h-bg-image {
  height: 70vh;
}

.text-xl {
  font-size: clamp(1rem, 7vw, 4rem);
}

.nav-item a:hover {
  color: #c3660a;
}

.bg-center {
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(195, 103, 10, 0) 30%,
    rgba(196, 92, 23, 0.664) 99%
  );
  z-index: 0;
}

.bg-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  bottom: 0;
  background: rgba(148, 73, 23, 0.438);
  z-index: 0;
}

.hide {
  display: none;
  font-size: 13px;
  text-align: center;
  color: #fff;
  opacity: 0.7;
}

.bg-gradient:hover > h3 {
  margin-bottom: 100px;
  transition: all ease-in-out 300ms;
}

.bg-gradient:hover {
  overflow: hidden;
  transform: scale(1.2);
  transition: all ease-in-out 300ms;
  border-radius: 20px;
  background: rgba(219, 93, 9, 0.438);
  box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.63);
  z-index: 3;
}
.bg-gradient:hover > .hide {
  display: block;
}
.bg-gradient:hover::before {
  background: #c9500a6e;
}

.svg-filter-white {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(350deg)
    brightness(106%) contrast(100%);
}
.svg-filter-orange {
  filter: invert(32%) sepia(92%) saturate(2022%) hue-rotate(22deg)
    brightness(99%) contrast(92%);
}

.bg-menu {
  background: rgba(194, 68, 10, 0.8);
  backdrop-filter: blur(4px);
}

.border-orange {
  border: 1px solid #c3660a;
}
.border-white {
  border: 1px solid #fff;
}
.px-6 {
  padding: 1rem 5rem;
}
.blur {
  filter: blur(10px) grayscale(100%);
}
