/* reset all  */

html,
body {
  font-family: "Montserrat", sans-serif;
}

/* added utils to support bootsrap  */

.h-screen {
  height: 100vh;
}

.container {
  width: 90%;
}

.z-1 {
  z-index: 10;
}
.z-10 {
  z-index: 99;
}
.z-0 {
  z-index: 0;
}

.w-25 {
  width: 25%;
}

.text-base {
  font-size: 0.8rem;
}

.text-lg {
  font-size: clamp(1.6rem, 10vw, 2.4rem);
}

.h-bg-image {
  height: 70vh;
}

.bg-gray {
  background-color: #2f2f2f;
}

.text-xl {
  font-size: clamp(1rem, 7vw, 4rem);
}

.number-size {
  font-size: 2rem;
}

.bg-brown {
  background-color: #563d25;
  width: 100%;
  height: 130px;
}

.text-sm {
  font-size: 14px;
  line-height: 1.1;
}

.font-bold {
  font-weight: 800;
}

.font-bolder {
  font-weight: 900;
}

.w-250 {
  width: 250px;
}
.w-input {
  width: 100%;
}

.w-60 {
  width: 60%;
}
.w-40 {
  width: 40%;
}

.text-orange-700 {
  color: #c3660a;
}

.text-orange-700-opacity {
  color: #c3670a8c;
}

::placeholder {
  color: #c3660a;
}

.text-orange-100 {
  color: #f8d7b3;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
}

.input-flag {
  background: url(./assets/Flag_of_Morocco.svg.png) no-repeat scroll 2px 50%;
  padding-left: 50px;
  background-size: 30px;
}

.bg-orange {
  background-color: #c3660a;
}
.bg-orange-300 {
  background-color: #e8aa00;
}

.bg-primary {
  background-color: #f7ebde !important;
}
.bg-secondary {
  background-color: #fbf5f0 !important;
}
.bg-primary-opacity {
  background-color: hsla(0, 0%, 100%, 0.137) !important;
}

.bg-primary:hover {
  /* border: 1px solid #C3660A; */
  background-color: #c3670a5d !important;
}

.svg-filter-white {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(350deg)
    brightness(106%) contrast(100%);
}
.svg-filter-orange {
  filter: invert(32%) sepia(92%) saturate(2022%) hue-rotate(22deg)
    brightness(99%) contrast(92%);
}

.bg-menu {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateY(-100%);
  transition: 0.7s;
  background: rgba(194, 68, 10, 0.8);
  backdrop-filter: blur(4px);
}
.active-menu {
  transform: translateY(0);
  overscroll-behavior: contain;
  position: fixed;
}
.table > :not(caption) > * > * {
  border-bottom-width: 0px;
}
.border-orange {
  border: 1px solid #c3660a;
}
.border-orange-300 {
  border: 1px solid #e8aa00;
}
.border-white {
  border: 1px solid #fff;
}
.border-black {
  border: 1px solid #000;
}
.px-6 {
  padding: 1rem 3rem;
}
.p-6 {
  padding: 5rem;
}

.blur {
  filter: blur(10px) grayscale(100%);
}

/* modifying the bootsrap tools or adding above it */

.swiper-slide {
  text-align: left;
}
.slider-info-position {
  /* left: 2%; */
  top: 48%;
}
.swiper-slide h1 {
  font-size: 30px;
  font-weight: 900;
}

.swiper-slide p {
  font-size: 20;
  font-weight: 100;
  margin: 0;
}
.swiper-slide a {
  background-color: #f7ebde2d;
  position: absolute;
  top: 86%;
  right: 6%;
  font-size: 12px;
  padding: 10px 30px;
}

.logo {
  height: 65px;
}
.footer-logo {
  height: 78px;
}

.nav-item a:hover {
  color: #c3660a;
}

.text-shadow {
  text-shadow: 0px 0px 1px #000000;
}

.bg-center {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  background-position: top;
  object-fit: cover;
}

.bg-about {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 20vh;
  background-position: center;
  object-fit: cover;
}

.bg-about-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(195, 103, 10, 0) 30%,
    rgba(196, 92, 23, 0.664) 99%
  );
  z-index: 0;
}

.bg-nos-soins {
  background-size: cover;
  background: url(./assets/sincerely-media-gA8iUoWYvTk-unsplash.png) no-repeat
    scroll;
  background-position: center;
  /* background-size: 300px; */
}

.leaf-right {
  position: absolute;
  transform: translateY(-50%);
  right: 0;
  top: 30%;
  width: 30%;
}
.leaf-left {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 0;
  top: 50%;
  width: 40%;
}
.leaf-left-half {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 0%;
  top: 40%;
  width: 40%;
}
.leaf-left-half-about {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 6%;
  top: 40%;
  width: 20%;
}

.swiper-slide:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(195, 103, 10, 0) 30%,
    rgba(196, 92, 23, 0.664) 99%
  );
  z-index: 0;
}

.bg-gradient-orange:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(195, 103, 10, 0) 70%,
    rgba(196, 92, 23, 0.664) 99%
  );
  z-index: 0;
}

.bg-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  bottom: 0;
  background: rgba(148, 73, 23, 0.438);
  z-index: 0;
}

.about-rounded {
  border-radius: 10px;
}

.about-info-hide {
  display: block;
  transition: all ease-in-out 0.3s;
}

.hide {
  display: none;
  font-size: 13px;
  text-align: center;
  color: #fff;
  opacity: 0.7;
}

.bg-gradient:hover > h3 {
  margin-bottom: 100px;
  transition: all ease-in-out 300ms;
}

.bg-gradient:hover {
  overflow: hidden;
  transform: scale(1.2);
  transition: all ease-in-out 300ms;
  border-radius: 20px;
  background: rgba(219, 93, 9, 0.438);
  box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.63);
  z-index: 3;
}
.bg-gradient-transparent:hover {
  overflow: hidden;
  transform: scale(1.1);
  transition: all ease-in-out 300ms;
  border-radius: 20px;
  box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 3px 5px 31px 5px rgba(0, 0, 0, 0.63);
  z-index: 3;
}

.bg-gradient-transparent:hover > .hide {
  display: block;
}
.bg-gradient:hover > .hide {
  display: block;
}
.bg-gradient:hover::before {
  background: #c9500a6e;
}
